@{
    ViewBag.Title = "グループ管理";
    var nowLecture = ViewBag.NowLecture as Hogwarts.Models.Lecture;
    var myGroup = ViewBag.MyGroup as Hogwarts.Models.Group;
}

<style>
    .selected-hight {
        background-color: #FECA40;
        color: #000000;
    }

    .nonselected-hight {
        background-color: #0e90d2;
        color: #ffffff;
    }
    .mdl-layout_group_header {
        background-color: ghostwhite;
        color: black;
    }

    .GroupCunsotmButton {
        width: 60px;
        height: 20px;
        min-width: initial;
        font-size: 8px;
        line-height:20px;
    }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <header class="mdl-layout__header mdl-layout_group_header">
        <div class="mdl-layout__header-row">
            現在講義：　@(nowLecture.LectureName)　
            所属グループ：　@(myGroup.GroupName)
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            グループ進捗管理
        </span>
        <div id="divGroupList">
            @Html.Action("GroupListView")
        </div>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            メンバー進捗
            <input type="button" id="btnRefreshMemberProgress" class="mdl-button mdl-js-button GroupCunsotmButton mdl-button--raised mdl-button--colored RefreshGroupMemberProgress" value="更新" />
            <div id="loading" class="mdl-spinner mdl-js-spinner"></div>
            <div id="divGroupMemberProgress">
                @Html.Action("GroupMemberProgressView")
            </div>
        </div>
    </main>
</div>

@*<div id="layout" style="height:90vh;">
        <div class="ui-layout-east">
            グループ別進捗
            <input type="button" id="btnRefreshGroupProgress" class="btn-ghost RefreshGroupProgress" value="更新" />
            <div id="divGroupProgress">
                @Html.Action("GroupProgressView")
            </div>
        </div>
    </div>*@

<script type="text/javascript">
    $(function () {

        var selectedGroupId = @(myGroup.Id);
        if (selectedGroupId > 0) {
            $('#tr_group_' + selectedGroupId.toString()).addClass('selected-hight');
        }

        $('#tblGroup tr').on('click', '.td_groupName', function () {
            var rows = $('table tbody tr');
            rows.removeClass('selected-hight');
            var id = $(this)[0].parentNode.id;
            $('#' + id).addClass('selected-hight');

            selectedGroupId = id.replace('tr_group_', '');
            ShowGroupmemberProgress(selectedGroupId);
        });

        $("#btnRefreshMemberProgress").on('click', function (event) {
            if (selectedGroupId >= 0) {
                ShowGroupmemberProgress(selectedGroupId);
            }
        });

        $("#btnRefreshGroupProgress").on('click', function (event) {
            ShowGroupProgress();
        });

        function ShowGroupmemberProgress(groupId) {
            $('#loading').addClass('is-active');
            $("#divGroupMemberProgress").empty();
            $('#btnRefreshMemberProgress').prop("disabled", true);
            var ajaxData = { groupId: groupId};
            var url = '@Url.Action("GroupMemberProgressView", "Group")';

            $.ajax({
                type: "POST",
                url: url,
                data: ajaxData,
                dataType: "html"
            }).done(function (response, textStatus, jqXHR) {
                $('#divGroupMemberProgress').append(response);
                $('#loading').removeClass('is-active');
                $('#btnRefreshMemberProgress').prop("disabled", false);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }).always(function (jqXHR, textStatus) {
            });
        };

        function ShowGroupProgress() {
            var url = '@Url.Action("GroupProgressView", "Group")';

            $.ajax({
                type: "POST",
                url: url,
                dataType: "html"
            }).done(function (response, textStatus, jqXHR) {
                $("#divGroupProgress").empty();
                $('#divGroupProgress').append(response);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }).always(function (jqXHR, textStatus) {
            });
        }
    });
</script>

