
@{
    var nowLecture = ViewBag.NowLecture as string;
}

@Styles.Render("~/Content/jqueryui")
@Styles.Render("~/Content/layout")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/layout")

<div id="layout" style="height:90vh;">
    <div class="ui-layout-north">
        現在講義：　@(nowLecture)
    </div>
    <div class="ui-layout-west">
        @Html.ActionLink("グループ追加", "Edit", "Group", new { area = "" }, new { @class = "btn-ghost" })
        <div id="divGroupList">
            @Html.Action("GroupListView")
        </div>
    </div>
    <div class="ui-layout-center">
        メンバー進捗
        <input type="button" class="btn-ghost RefreshGroupMemberProgress" value="更新" />
        <div id="divGroupMemberProgress">
            @Html.Action("GroupMemberProgressView")
        </div>
    </div>
    <div class="ui-layout-east">
        グループ別進捗
        <input type="button" class="btn-ghost RefreshGroupProgress" value="更新" />
        <div id="divGroupProgress">
            @Html.Action("GroupProgressView")
        </div>
    </div>
    @*<div class="ui-layout-south">South</div>*@
</div>

<script type="text/javascript">
    $(function () {
        $("#layout").layout();
    });
</script>

