@{
    ViewBag.Title = "新人研修";
}

<div class="jumbotron">
    <h1>Hogwarts</h1>
    <p class="lead">
        This site is for New training.
        Please use this site, taking advantage of the growth.
    </p>
    <p>
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("ログイン ≫", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-ghost btn-white btn-lg" })
        }
    </p>
</div>

<div>
    <div class="row">
        <div class="col-md-4">
            <h2><a href="@Url.Action("Index","Information")">お知らせ</a></h2>
            <p>
                講師やスタッフからのお知らせを見ることができます。<br>
                新人から新人にお知らせすることもできます。
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="@Url.Action("Index","Knowledge")">知識共有</a></h2>
            <p>
                学んだことをここで共有することができます。<br>
                知識を集約していき、皆の学習に役立てます。
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="@Url.Action("Index","Asks")">質問</a></h2>
            <p>
                講師やスタッフに質問することができます。<br>
                質問する前に一度ここで同じ質問がないか確認してみましょう。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2><a href="@Url.Action("Index","Group")">グループ管理</a></h2>
            <p>
                グループを登録し、グループごとの進捗を管理します。
                グループの評価は最終的に個人の評価に影響します。
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="@Url.Action("Index","Lectures")">進捗管理</a></h2>
            <p>
                演習問題の進捗管理をすることができます。<br>
                自分の進捗のみを管理します。
            </p>
        </div>
        <div class="col-md-4">

            <h2><a href="@Url.Action("Index","Records")">ランキング</a></h2>
            <p>
                リアルタイムでランキングを表示します。<br>
                各講義の最終日は新人は見ることができません。
            </p>
        </div>
    </div>
</div>