@model Hogwarts.Models.HogwartsSetting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HogwartsSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SettingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setting)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
