@model Hogwarts.Models.Ask

@{
    ViewBag.Title = "質問-詳細";
    var answers = ViewBag.Answers as IEnumerable<Hogwarts.Models.Ask>;
}
<style>
    .askContainer {
        height: 80vh;
        overflow-y: auto;
        margin-left: 10px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="askContainer">
            <h4>詳細</h4>
            <table>
                <tr>
                    <td>
                        質問者：@Html.DisplayFor(model => model.CreateUserId)
                        <p style="font-size:12px;">
                            追加日時：@(string.Format("{0:yyyy/MM/dd hh:mm}", Model.CreateDateTime))
                            更新日時：@(string.Format("{0:yyyy/MM/dd hh:mm}", Model.UpdateDateTime))
                        </p>
                        <div class="col-md-12" style="word-wrap: break-word;">
                            @Html.Raw(Model.Content)
                        </div>
                    </td>
                </tr>
            </table>
            <h4>回答一覧</h4>
            <table>
                @if (answers.Any())
                {
                    foreach (var answer in answers)
                    {
                        <tr>
                            <td>
                                回答者：@Html.DisplayFor(model => answer.CreateUserId)
                                <p style="font-size:12px;">
                                    追加日時：@(string.Format("{0:yyyy/MM/dd hh:mm}", answer.CreateDateTime))
                                    更新日時：@(string.Format("{0:yyyy/MM/dd hh:mm}", answer.UpdateDateTime))
                                </p>
                                <div style="word-wrap: break-word;">
                                    @Html.Raw(answer.Content)
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            回答はありません。
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <p>
            <br>
            <input type="button" id="btnRegistAnswer" class="btn btn-ghost col-md-offset-10" value="回答する" />
        </p>
        <div class="col-md-12">
            @Html.TextArea("sampleEditor", new { @class = "ckeditor", @id = "sampleEditor" })
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    $(function () {

        $("#btnRegistAnswer").on('click', function (event) {
            RegistAnswer();
        });

        function RegistAnswer() {
            var ajaxData = {};
            ajaxData.ParentAskId = @(Model.Id);
            ajaxData.Content = CKEDITOR.instances.sampleEditor.getData();

            if (ajaxData.Content === "") {
                return false;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("RegistAnswer", "Asks")',
                data: ajaxData,
                dataType: "json"
            }).done(function (response, textStatus, jqXHR) {
                if (response.result == 'Redirect')
                    window.location = response.url;
                if (response.result == 'Error')
                    alert(response.message);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }).always(function (jqXHR, textStatus) {
            });
        }
    });
</script>