@model Hogwarts.Models.Ask

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="margin-left:200px">
    <h4>修正</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentAskId)
    @Html.HiddenFor(model => model.CreateUserId)
    @Html.HiddenFor(model => model.IsClosed)
    @Html.HiddenFor(model => model.CreateDateTime)
    @Html.HiddenFor(model => model.UpdateDateTime)

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", @id = "sampleEditor" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="修正登録" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
