@model IEnumerable<Hogwarts.Models.Information>

@{
    ViewBag.Title = "お知らせ一覧";
    var informationFromNews = ViewBag.InformationFromNews as IEnumerable<Hogwarts.Models.Information>;
    var informationFromManagers = ViewBag.InformationFromManagers as IEnumerable<Hogwarts.Models.Information>;
}
<style>
    .scrollTable {
        height: 78vh;
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <h4 style="margin-left:10px">
            講師陣よりお知らせ　　　　　
            @if (User.IsInRole("Admin"))
            {
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" onclick="location.href='@Url.Action("Create","Information",null)';">
                    <i class="material-icons">add</i>
                </button>
            }
        </h4>
        <div class="scrollTable">
            <table class="table table-bordered">
                @foreach (var item in informationFromManagers)
                {
                    <tr>
                        <td>
                            <h3>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h3>
                            <small>
                                作成者：@Html.DisplayFor(modelItem => item.CreateUserName)
                                作成日時：@Html.DisplayFor(modelItem => item.CreateDateTime)
                                更新日時：@Html.DisplayFor(modelItem => item.UpdateDateTime)
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </small>
                            <p>
                                @Html.Raw(item.Content)
                            </p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <h4 style="margin-left:10px">
            新人間のお知らせ　　　　　
            @if (!User.IsInRole("Admin"))
            {
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" onclick="location.href='@Url.Action("Create","Information",null)';">
                    <i class="material-icons">add</i>
                </button>
            }
        </h4>
        <div class="scrollTable">
            <table class="table table-bordered">
                @foreach (var item in informationFromNews)
                {
                    <tr>
                        <td>
                            <h3>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h3>
                            <small>
                                作成者：@Html.DisplayFor(modelItem => item.CreateUserName)
                                作成日時：@Html.DisplayFor(modelItem => item.CreateDateTime)
                                更新日時：@Html.DisplayFor(modelItem => item.UpdateDateTime)
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </small>
                            <p>
                                @Html.DisplayFor(modelItem => item.Content)
                            </p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
