@model Hogwarts.Models.Knowledge

@{
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap_select")
    @Scripts.Render("~/bundles/bootstrap_select")
    var knowledgeCategories = ViewBag.KnowledgeCategories as IEnumerable<Hogwarts.Models.KnowledgeCategory>;
}

<style>
    .extrawide {
        width: 500px;
    }

    input, select, textarea {
        max-width: 500px;
    }
</style>

@using (Html.BeginForm("Create","Knowledge", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left:20px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label extrawide">
            <input class="mdl-textfield__input extrawide" type="text" name="Title" id="Title">
            <label class="mdl-textfield__label extrawide" for="textbox2">タイトル</label>
        </div>
    </div>
    <label for="KnowledgeCategoryId" class="label">カテゴリー</label>
    <select id="KnowledgeCategoryId" name="KnowledgeCategoryId" class="selectpicker selCategory" title="カテゴリー">
        @foreach (var knowledgeCategory in knowledgeCategories)
        {
            <option value="@(knowledgeCategory.Id)">@(knowledgeCategory.CategoryName)</option>
        }
    </select>
    <div class="form-group">
        <div class="col-md-10" hidden>
            @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { @class = "ckeditor", @id = "sampleEditor" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker();

        $('select.selectpicker').on('change', function () {
            $('#CategoryId').val($('.selectpicker option:selected')[0].value);
        });

        $('#form').submit(function () {
            if ($('#Title').val() == '') {
                $('#Title').focus();
                return false;
            }

            if (!($('.selectpicker option:selected')[0].value > 0)) {
                $('.selectpicker option:selected').focus();
                return false;
            }
            var content = CKEDITOR.instances.sampleEditor.getData();
            if (content == '' || content == null) {
                $('.cke_contents').focus();
                return false;
            }
        })
    });
</script>